#principal-about {
    background-color: black;
}

#about-wiw-logo {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column-reverse;
    }

    .media-content {
        margin-bottom: 2rem;
    }
}